body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background-color: #333;
    height: 40px;
    overflow: hidden;
    font-family: 'Modak', cursive;
font-family: 'Roboto', sans-serif;
}

li {
    float: left; 
}

li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

section {
    padding: 20px;
    border: 10px solid;
    margin: 10px;

}


footer {
    color: white; 
    background-color: #333;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30px;
}

.card {
    border: 10px solid blue;
    width: 30%;
}

.card img {
    height: 50 px;
}