body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 40px;
    overflow: hidden;
    font-family: 'Modak', cursive;
font-family: 'Roboto', sans-serif;
}

li {
    float: left; 
}

li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}